[Unit]
Description=Supervisor daemon
Documentation=http://supervisord.org
After=network.target

[Service]
ExecStart=/usr/local/bin/supervisord -c /etc/pdnssoccli/supervisord.conf
ExecReload=/usr/local/bin/supervisorctl reload
KillMode=process
Restart=on-failure
User=dnscollector

[Install]
WantedBy=multi-user.target
